{% extends 'builder/blocks/base.twig' %}
{% block block_content %}
    <div class="columns">
        {% if item.title %}
            <div class="is-12 column content">
                <h1 class="is-1">{{item.title}}</h1>
            </div>
        {% endif %}
    </div>
{% endblock %}
